.post-header h1,
.home-template h2,
.home-template h1,
a {
  color: #db2e34;
}

a:hover {
  color: #fd030c;
}

.page-title{
  color: #db2e34;
}

.page-description{
  color: rgba(255,255,255);
  text-shadow: rgba(0,0,0,0.15) 0px 0px 10px;
}
